.box {
  display: flex;
  flex-direction: column;
}

.inputs {
  width: 90vw;
  max-width: 400px;
}
.join {
  background-color: #a5cdd4 !important;
  color: black !important;
}
.join:hover {
  background-color: rgb(111, 179, 185) !important;
  color: black !important;
  font-weight: bold !important;
}
.create {
  background-color: #95ca98 !important;
  color: black !important;
}
.create:hover {
  background-color: rgb(102, 153, 102) !important;
  color: black !important;
  font-weight: bold !important;
}
