@font-face {
  font-family: Arimo;
  src: url('../Assets/Fonts/Arimo/Arimo-VariableFont_wght.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arimo !important;
  transition: all 0.2s;
}

:root {
  --blue-sapphire: rgb(192, 215, 241);
  --steel-blue: #427aa1ff;
  --light-blue: rgb(90, 171, 196);
  --alice-blue: #ebf2faff;
  --maximum-green: #679436ff;
  --acid-green: rgb(232, 245, 148);
}
html {
  background-color: var(--blue-sapphire);
  font-size: 18px;
}
body {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: url('../Assets/bgblur.png');
}

.auth-box {
  background-color: rgba(255, 255, 255, 0.9) !important;
  position: relative;
  height: auto !important;
  // min-height: 230px !important;
  width: 90vw !important;
  max-width: 400px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: 1s linear 0.5s;
}
.auth-menu {
  flex: 1;
  padding: 10px 30px 10px 30px;
  transition: 1s linear 0.5s;
}
.logout {
  margin-top: 20px !important;
  color: rgb(41, 40, 40) !important;
  font-size: 0.7rem !important;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.3) !important;
}
.logout:hover {
  background-color: rgba(179, 178, 178, 0.3) !important;
  font-weight: bold !important;
}
