.list-recent-rooms {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
.list-recent-rooms p {
  background-color: rgb(241, 215, 141);
  border: 1px solid rgb(201, 199, 199);
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 5px;
  margin: 5px 0 5px 0;
  display: flex;
  justify-content: space-between;
}
.list-recent-rooms p:hover {
  background-color: rgb(232, 240, 247);
  font-weight: bold;
  cursor: pointer;
}
.list-recent-rooms span {
  border: 1px solid rgb(194, 193, 193);
  padding: 2px 5px 2px 5px;
  border-radius: 5px;
  background-color: rgb(222, 236, 224);
}
.list-recent-rooms span:hover {
  background-color: rgb(188, 221, 180);
}
.list-recent-rooms span:first-child:hover {
  background-color: rgb(250, 181, 181);
}
