.box {
  display: flex;
  flex-direction: column;
}
.login {
  margin-top: 20px !important;
  background-color: rgb(86, 196, 71) !important;
}
.register {
  margin-top: 20px !important;
  background-color: rgb(96, 141, 201) !important;
}
.inputs {
  width: 90vw;
  max-width: 400px;
}
