.box {
  display: flex;
  flex-direction: column;
}
.login {
  margin-top: 20px !important;
  background-color: rgb(116, 177, 108) !important;
}
.login:hover {
  background-color: rgb(60, 114, 53) !important;
}
.register {
  margin-top: 20px !important;
  background-color: rgb(94, 124, 163) !important;
}
.register:hover {
  background-color: rgb(61, 80, 104) !important;
}
.inputs {
  width: 90vw;
  background-color: rgb(224, 233, 208) !important;
  max-width: 400px;
  margin: 10px 0 0 0 !important;
  border: 1px solid rgb(202, 200, 200) !important;
  border-radius: 10px;
}
